{{ "<!-- About Section -->" | safeHTML }}
<section id="about" class="big-triangle triangle-bottom-down">
  <div class="container">
    <!--
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.about.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-lg-12">
          <div class="col-md-6">
            <div class="timeline-image">
              {{ $url := printf "img/about/%s" .Site.Params.about.img }}
              <img class="img-circle img-responsive" src="{{ $url | absURL }}" alt="">
            </div>
          </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">{{ with .Site.Params.about.title}}{{ . | markdownify }}{{ end }}</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">{{ with .Site.Params.about.description}}{{ . | markdownify }}{{ end }}</p>
              </div>
            </div>
          
      </div>
    </div>
  </div>
</section>
